<!DOCTYPE html>
<html lang="en">
    {{ partial "head" . }}
<body>

       
    {{ $context := . }}
    {{ partial "navbar" (dict  "activeMenu" "Feeds" "context" $context )  }}       
  
      

    {{ partial "bread-crumb" . }}


<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
  <div class="slds-clearfix slds-m-top_x-small">
    <div class="slds-float_right">
      <p><button class="slds-button slds-button_outline-brand"><span class="slds-icon_container">
        <svg class="slds-icon slds-icon-text-default slds-icon_xx-small slds-m-right_xx-small blue-icon-color" aria-hidden="true">
        <use xlink:href="/icons/utility-sprite/svg/symbols.svg#add"></use>
        </svg>
        </span> Add Feed</button></p>
    </div>
  </div>
<!-- submenu starts -->
<div class="demo-only slds-m-top_x-small slds-text-align_center blue-bg-button-group">
  <div class="slds-button-group" role="group">
    <a href="/feed/latest"><button class="slds-button slds-button_inverse">Latest</button></a>
    <a href="/feed/bundle"><button class="slds-button slds-button_inverse slds-button_text-destructive">Bundle</button></a>
  </div>
</div>
<!-- submenu ends -->  


<!-- content starts -->
<div class="slds-welcome-mat slds-m-bottom_medium slds-m-top_medium event-section">
 
  <div class="slds-grid slds-wrap slds-gutters bundle-wrap">
    {{ $.Scratch.Set "seeMoreCounter" 1 }}
    {{range ($.Site.GetPage "taxonomyTerm" "feedSource").Pages }}
<!-- bundle-1 -->
<div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_4-of-12">
  {{ $.Scratch.Set "siteUrl" "" }}
  {{ range first 1 (.Pages.ByParam "feedSource") }}
  {{ $.Scratch.Set "siteUrl" .Params.feed.site_url }}
  {{ $.Scratch.Set "siteTitle" .Params.feed.title }}
  {{ $.Scratch.Set "id" .Params.feed.id }}
  {{ $.Scratch.Set "favicon" .Params.icon.href }}
  {{ $.Scratch.Set "sourceFeed" .Params.feedSource }}
  {{ end }} 
  {{ $sitetitle := $.Scratch.Get "siteTitle" }} 
  {{ $favicon := $.Scratch.Get "favicon" }}
  {{ $source := $.Scratch.Get "sourceFeed" }}                                         
  {{ with $source }}
      {{ $firstTab := index . 0 }}
        {{ $.Scratch.Set "firstTab" $firstTab }}
    {{ end }}
    {{ $sourceFeed := $.Scratch.Get "firstTab" }}                                                                               
  {{ $imagepath  := print "/feed/latest/" $sourceFeed "/" $favicon }} 
  <article class="slds-card bundle-card">
    <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
    <div class="slds-media__figure">
    <span class="slds-icon_container slds-icon-standard-account" title="">
      {{ if $favicon }}<img src="{{ $imagepath }} {{ $.Scratch.Get "feed.id"  }}" width="16" height="16" onerror="this.onerror=null; this.src='/images/health-it-answers-feed-icon.jpg'">{{ else }}<img src="images/health-it-answers-feed-icon.jpg" width="16" height="16">{{ end }}
    </span>
    </div>
    <div class="slds-media__body">
    <h2 class="slds-card__header-title">
    <a href="{{ $.Scratch.Get "siteUrl"  }}" target="_blank" class="" title=""><span> {{ $.Scratch.Get "siteTitle"}} </span></a>
    </h2>
    </div>
    </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
      <ul class="slds-has-dividers_top">
        {{ $.Scratch.Set "linksiteUrl" "" }}
        {{ range first 3 (.Pages.ByParam "feedSource") }}
        {{ $.Scratch.Set "linksiteUrl" .Params.link.href }}
         <li class="slds-item slds-truncate"><a href="{{ $.Scratch.Get "linksiteUrl"  }}" target="_blank" class="slds-text-color_default">{{ .Title }}</a></li>
        {{end}}  
      </ul>
    </div>
    
    <footer class="slds-card__footer">
    <a class="slds-card__footer-action" href="#">See More</a>
    </footer>
    </article>
</div>  
{{ end }}
</div>
<!-- content ends -->

<!-- paginations starts -->
<div class="git-buttons-row slds-p-top_x-small slds-p-bottom_x-small slds-m-bottom_large slds-text-align_center">
  {{  partial "pagination" . }}
</div>
<!-- paginations ends -->

</div>
</section>

<!-- footer starts -->
{{ partial "footer" (dict  "activeMenu" "Feeds" "context" $context ) }}

</body>
</html>