<!DOCTYPE html>
<html lang="en">
    {{ partial "head" . }}
<body>

       
    {{ $context := . }}
    {{ partial "navbar" (dict  "activeMenu" "Feeds" "context" $context )  }}       
  
      

    {{ partial "bread-crumb" . }}


<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
  <div class="slds-clearfix slds-m-top_x-small">
    <div class="slds-float_right">
      <p><button class="slds-button slds-button_outline-brand"><span class="slds-icon_container">
          <svg class="slds-icon slds-icon-text-default slds-icon_xx-small slds-m-right_xx-small blue-icon-color" aria-hidden="true">
          <use xlink:href="/icons/utility-sprite/svg/symbols.svg#add"></use>
          </svg>
          </span> Add Feed</button></p>
    </div>
  </div>
<!-- submenu starts -->
<div class="demo-only slds-m-top_x-small slds-text-align_center blue-bg-button-group">
  <div class="slds-button-group" role="group">
    <a href="/feed/latest"><button class="slds-button slds-button_inverse slds-button_text-destructive">Latest</button></a>
    <a href="/feed/bundle"><button class="slds-button slds-button_inverse">Bundle</button></a>
  </div>
</div>
<!-- submenu ends -->  


<!-- content starts -->
<div class="slds-welcome-mat slds-m-bottom_medium slds-m-top_medium feed-wrap">
    
  <ul class="slds-size_1-of-1 list-card">
    {{ $postCount := len (where .Pages.ByDate "Params.sub" "eq" ("feeds")) }}         
    {{ $paginator := (.Paginate (where .Pages.ByDate "Params.sub" "eq" ("feeds")).Reverse 20) }}   
           
     {{ range $index, $element := $paginator.Pages }}
     {{ $.Scratch.Set "id" .Params.feed.id }}
      {{ with .Params.feedSource }}
          {{ $firstTab := index . 0 }}
          {{ $.Scratch.Set "firstTab" $firstTab }}
      {{ end }}
      {{ $source := $.Scratch.Get "firstTab" }}  
      {{ $imagepath  := print "/feed/latest/" $source "/" .Params.icon.href }} 
    <li class="slds-welcome-mat__tile feed-card">
      <article class="slds-box">
      <div class="slds-grid slds-wrap">
        <div class="slds-clearfix feed-box">
          <div class="slds-float_left slds-m-bottom_xx-small slds-m-right_xx-small">{{ if .Params.icon.href }}<img src="{{ $imagepath }}{{ $.Scratch.Get "feed.id"  }}" width="16" height="16" onerror="this.onerror=null; this.src='/images/health-it-answers-feed-icon.jpg'">{{ else }}<img src="/images/med-tech-innovation-feed-icon.jpg" width="16" height="16">{{ end }}</div>
          <div class="slds-float_left slds-m-bottom_xx-small slds-m-right_xx-small"><b><a href="{{ .Params.link.href }}" target="_blank">{{.Title}}</a></b></div>
          <div class="slds-float_right slds-m-bottom_xx-small slds-m-left_xx-small">a day ago</div>
          <div class="slds-float_right slds-m-bottom_xx-small slds-m-left_xx-small">
            <span class="slds-badge slds-theme_warning"><em>{{ .Params.feed.title }}</em></span>
        </div>
        </div>
          </div>
      </article>
      </li>
      {{ end }}
  
</ul>

</div>
<!-- content ends -->

<!-- paginations starts -->
<div class="git-buttons-row slds-p-top_x-small slds-p-bottom_x-small slds-m-bottom_large slds-text-align_center">
  {{  partial "pagination" . }}
</div>
<!-- paginations ends -->

</div>
</section>

<!-- footer starts -->
{{ partial "footer" (dict  "activeMenu" "Feeds" "context" $context ) }}

</body>
</html>