<article class="slds-box slds-m-bottom_small">
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-1 slds-small-size_12-of-12 slds-medium-size_5-of-12 slds-large-size_6-of-12">        
        <aside class="icon-space slds-m-top_xx-small slds-m-bottom_xx-small">
        <span class="icon-space-ico"><img src="/icons/utility/engage.svg" class="ico-bt-sm-2-x" alt=""></span>
        <span class="icon-space-text"><b>{{.accordianTitle }}</b></span>
        {{ $category := .category}}
        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders">
          <thead>
            <tr class="slds-line-height_reset">
                {{ if ne $category "Infections"}}
                <th class="" scope="col">
                    <div class="slds-truncate">Measure Description</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate">{{ .facilityName }}</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate">National Results</div>
                </th>
                {{ else }}
                <th class="" scope="col">
                    <div class="slds-truncate">Measure Description</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate">{{ .facilityName }}</div>
                </th>
                {{ end }}
            </tr>
          </thead>
          <tbody>
            {{ $valueFormat := .valueFormat }}
            {{ range .complicationAndDeathObject}} 
            {{ if eq $category "SurgicalComplications" }}
            {{ if or (eq .complicationsAndDeathsState.complicationsAndDeathsNational.measure 1 ) (eq .complicationsAndDeathsState.complicationsAndDeathsNational.measure 15 ) (eq .complicationsAndDeathsState.complicationsAndDeathsNational.measure 18 )}}
            <tr class="slds-hint-parent">
                <td scope="row">
                    <div class="slds-truncate">{{ .complicationsAndDeathsState.complicationsAndDeathsNational.measureName }}</div>
                </td>
                <td>
                    <div class="slds-truncate">{{ .comparedToNational.result }}</div>
                </td>
                <td>
                    <div class="slds-truncate">{{ .complicationsAndDeathsState.complicationsAndDeathsNational.nationalRate}}</div>
                </td>         
            </tr>
            {{ end }}
            {{ else }}
            {{ if eq $category "30daysDeathRates"}}
            {{ if or (and (gt .complicationsAndDeathsState.complicationsAndDeathsNational.measure 1 ) (lt .complicationsAndDeathsState.complicationsAndDeathsNational.measure 18 )) (eq .complicationsAndDeathsState.complicationsAndDeathsNational.measure 19 )  }}
            <tr class="slds-hint-parent">
                <td scope="row">
                    <div class="slds-truncate">{{ .complicationsAndDeathsState.complicationsAndDeathsNational.measureName }}</div>
                </td>
                <td>
                    <div class="slds-truncate">{{ .comparedToNational.result }}</div>
                </td>
                <td>
                    <div class="slds-truncate">{{ .complicationsAndDeathsState.complicationsAndDeathsNational.nationalRate}}</div>
                </td>         
            </tr>
            {{ end }}
            {{ else }}  
            {{ if eq $category "Infections"}}  
            <tr class="slds-hint-parent">
                <td scope="row">
                    <div class="slds-truncate">{{ .measureName }}</div>
                </td>
                <td>
                    <div class="slds-truncate">{{ .comparedToNational.result }}</div>
                </td>       
            </tr>                           
          </tbody>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
      </table>
      </aside>
      </div>
    </div>
</article>