
        <li class="slds-accordion__list-item">
            <section class="slds-accordion__section">
              <div class="slds-accordion__summary">
                <h2 class="slds-accordion__summary-heading">
                  <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-{{ .variableId }}" aria-expanded="false" title="{{ .accordianTitle | safeHTMLAttr }}">
                    <span class="slds-accordion__summary-content">{{ .accordianTitle | safeHTMLAttr }}</span>
                    <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/icons/utility-sprite/svg/symbols.svg#switch"></use>
                    </svg>
                  </button>
                </h2>
              </div>
              <div class="slds-accordion__content" id="referenceId-{{ .variableId }}">

            {{ $category := .category}}
            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders">
                <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-truncate">Measure Description</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate">{{ .facilityName }}</div>
                    </th>
                    {{ if ne $category "ValueCare" }}
                    <th class="" scope="col">
                        <div class="slds-truncate">National Average Payment</div>
                    </th>
                    {{ end }}
                </tr>
                </thead>
                <tbody>
                {{ $valueFormat := .valueFormat }}
                {{ range .paymentAndValueOfCareHospitalObject}} 
                {{ if eq $category "Payment" }}
                <tr class="slds-hint-parent">
                    <td scope="row">
                        <div class="slds-truncate">{{ .paymentMeasureName }}</div>
                    </td>
                    <td>
                        <div class="slds-truncate">{{ .paymentCategory.paymentCategory }}</div>
                    </td>
                    <td>
                        <div class="slds-truncate">{{ .payment }}</div>
                    </td>         
                </tr>
                {{ end }}
                {{ if eq $category "ValueCare" }}
                <tr class="slds-hint-parent">
                    <td scope="row">
                        <div class="slds-truncate">{{ .valueOfCareDisplayName }}</div>
                    </td>
                    <td>
                        <div class="slds-truncate">{{ .valueOfCareCategory.category }}</div>
                    </td>                          
                </tr>
                {{ end }}                                        
                {{ end }}
            </table>
          </div>
        </section>
     </li>
      </aside>