  <li class="slds-accordion__list-item">
    <section class="slds-accordion__section">
      <div class="slds-accordion__summary">
        <h2 class="slds-accordion__summary-heading">
          <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-{{ .variableId }}" aria-expanded="false" title="{s{ .accordianTitle | safeHTMLAttr }}">
            <span class="slds-accordion__summary-content">{{ .accordianTitle | safeHTMLAttr }}</span>
            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                <use xlink:href="/icons/utility-sprite/svg/symbols.svg#switch"></use>
            </svg>
          </button>
        </h2>
      </div>
      <div class="slds-accordion__content" id="referenceId-{{ .variableId }}">        
        <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-labelledby="element-with-table-label other-element-with-table-label">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-truncate slds-truncate-normal" title="Measure Description">Measure Description</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate slds-truncate-normal" title="{{ .facilityName }}">{{ .facilityName }}</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate slds-truncate-normal" title="{{ .state }}">{{ .state }} AVERAGE</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate slds-truncate-normal" title="NATIONAL AVERAGE">NATIONAL AVERAGE</div>
                    </th>                   
                </tr>
            </thead>
            <tbody>
                {{ $category := .category}}
                {{ $valueFormat := .valueFormat }}
                {{ range .timelyAndEffectiveCareObject}}  {{ if eq .condition.condition $category }}
                {{ $hospitalMeasureId := .measureDetails.id }}

                <tr class="slds-hint-parent">
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                          {{ if eq .measureDetails.id 1 }}
                          {{ .measureName }}
                          {{ else }}
                          {{ range .timelyAndEffectiveCareNational}}
                            {{ if ne .measure.id $hospitalMeasureId }}{{ .measureName }}{{ else }} {{ .timelyAndEffectiveCareState.measureName }} {{ end }}
                          {{ end }}
                          {{ end }}
                        </div>
                    </td>
                    {{ if eq .measureDetails.id 1 }}
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            {{ .score }}
                        </div>
                    </td>
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            Not Available
                        </div>
                    </td>
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            Not Available
                        </div>
                    </td>
                    {{ else }}

                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            {{ if (ne .score "Not Available") }} {{ .score }}{{ $valueFormat }} {{ else }} {{ .score }} {{ end }}
                        </div>
                    </td>
                    {{ range .timelyAndEffectiveCareNational}}
                    {{ if eq .timelyAndEffectiveCareState.measure $hospitalMeasureId }}
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            {{ if and (ne .timelyAndEffectiveCareState.score "Not Available") (ne .timelyAndEffectiveCareState.score "very high")}} {{ .timelyAndEffectiveCareState.score }}{{ $valueFormat }} {{ else }} {{ .timelyAndEffectiveCareState.score }} {{ end }}
                        </div>
                    </td>
                    {{ else }}
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            Not Available
                        </div>
                    </td>                    
                    {{ end }}  
                    {{ if eq .measure.id $hospitalMeasureId }}
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            {{ if and (ne .score "Not Available") (ne .score "very high")}}{{ .score }}{{ $valueFormat }} {{ else }} {{ .score }} {{ end }}
                        </div>
                    </td>
                    {{ else }}
                    <td>
                        <div class="slds-truncate slds-truncate-normal" >
                            Not Available
                        </div>
                    </td>                    
                    {{ end }}

                    {{ end }}
                    
                    {{ end }}
                </tr>
                {{ end }} {{ end }}
            </tbody>
        </table>
      </div>
    </section>
  </li>