<!DOCTYPE html>
<html lang="en">
  {{ partialCached "head" . .Title }}
<body>
  {{ $context := . }}
  {{ partialCached "navbar" (dict  "activeMenu" "Awards" "mastHead" "Awards" "context" $context )  .Title }}   

  {{ partialCached "bread-crumb" . .Title }}
<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">


<!-- content starts -->
{{ $Title := .Title }}
          {{ with $.Site.Data.awards_landing }}
           {{ range .awardDetails }}
              {{ if eq .awardTitle $Title }}
              {{ $.Scratch.Set "awardlink" .award }}
              {{ $.Scratch.Set "folderPath" .awardUrl }}
              {{ $.Scratch.Set "awardTitle" .awardTitle }}
              {{ $.Scratch.Set "awardTabTitle" .awardTabTitle }}
              {{ $.Scratch.Set "awardDescription" .awardDescription }}
              {{ $.Scratch.Set "awardSourceUrl" .awardSourceUrl }}
              {{ $.Scratch.Set "awardSourceText" .awardSourceText }}
              {{ end }}
           {{ end }}
           {{ end }}         
           {{ $awardDescription:= $.Scratch.Get "awardDescription" }}   
<div class="slds-welcome-mat slds-m-bottom_large slds-m-top_large">
  <section class="slds-card slds-p-around_medium slds-m-bottom_large">
      <h1 class="slds-text-heading_large slds-m-bottom_xx-small"><b>{{ $.Scratch.Get "awardTitle" }}</b></h1> 
      <p class="slds-m-bottom_xx-small"> {{ $awardDescription | base64Decode}}</p>  
      <p class="slds-m-bottom_xx-small">Continue reading at <a target="_blank" href='{{ $.Scratch.Get "awardSourceUrl" }}'><span>{{ $.Scratch.Get "awardSourceText" }} </span></a></p>  
  </section>

  <h2 class="slds-text-heading_medium slds-m-bottom_x-small slds-text-align_center"><b>{{ $.Scratch.Get "awardTabTitle" }}</b></h2> 


<ul class="slds-size_1-of-1 list-card">   
{{ $posts := where (where $.Site.RegularPages "Params.recognition_group_url" "=" .Params.award ) "Params.sub" "!=" "grouping" }} 
{{ range  $posts }}  
<li class="slds-welcome-mat__tile">
 
      <article class="slds-box">
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
                {{ if .Params.featuredimage}}<a href="#"><img src="{{ print .Params.folderPath .Params.featuredimage }}" alt="{{.Title}}" width="288" height="162"></a>{{ else }}{{ end }}
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
                {{ if and ( .Params.recognized_profile) (ne .Params.recognized_profile "NIL")}}<h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="{{.Params.recognized_profile }}"><b>{{.Title}}</b></a></h2>{{else}}<h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="#"><b>{{.Title}}</b></a></h2>{{ end }}
                <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">{{ .Summary }}</p>
                
                <div class="slds-clearfix">
                  <div class="slds-float_right">
                    <span style="position: relative;">
                      {{ $permaLink := .Permalink | safeURL}}
                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
                      {{ $class := "fb-share-push fb-share" }}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ $icon := "/images/facebook.svg" }}
                      {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}
          
                      {{ $toolTipContent := (`Facebook Share`| safeHTML) }}
                      {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                    </span>
                    <span style="position: relative;">
                    {{ $permaLink := .Permalink | safeURL}}
                    {{ $safeUrl := $.Site.Params.siteUrl }}
                    {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
                    {{ $class := "twitter-share-push fb-share" }}
                    {{ $dataApp := .Params.id }}
                    {{ $dataSlug := .Permalink }}
                    {{ $dataName := .Title }}
                    {{ $icon := "/images/twitter.svg" }}
                    {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}
                    {{ $toolTipContent := (`Twitter Share`| safeHTML) }}
                    {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                  </span>
                    <span style="position: relative;">
                      {{ $permaLink := .Permalink | safeURL}}
                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
                      {{ $class := "linkedin-share-push fb-share" }}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ $icon := "/images/linkedin.svg" }}
                      {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}
                      {{ $toolTipContent := (`Linkedin Share`| safeHTML) }}
                      {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                      </span>
                    <span style="position: relative;">
                      {{ $icon := "/images/email.svg" }}
                      {{$permaLink := .Permalink | safeURL}}
                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
                      {{ $class := "email-share-push"}}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}
                      {{ $toolTipContent := (`Email Share`| safeHTML) }}
                      {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                      </span>
                  </div>
                </div>
                
                </div>
            </div>
      </article>
 
</li>
{{ end }} 
</ul>
</div>
<!-- content ends -->

</div>
</section>
<!-- footer starts -->
{{ partialCached "footer" (dict  "activeMenu" "Awards" "context" $context ) }}

</body>
</html>