<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
<body>
  {{ $context := . }}
  {{ partial "navbar" (dict  "activeMenu" "Awards" "context" $context )  }}   

  {{ partial "bread-crumb" . }}
<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">


<!-- content starts -->
{{ $Title := .Title }}
          {{ with $.Site.Data.awards_landing }}
           {{ range .awardDetails }}
              {{ if eq .awardTitle $Title }}
              {{ $.Scratch.Set "awardlink" .award }}
              {{ $.Scratch.Set "folderPath" .awardUrl }}
              {{ $.Scratch.Set "awardTitle" .awardTitle }}
              {{ $.Scratch.Set "awardTabTitle" .awardTabTitle }}
              {{ $.Scratch.Set "awardDescription" .awardDescription }}
              {{ $.Scratch.Set "awardSourceUrl" .awardSourceUrl }}
              {{ $.Scratch.Set "awardSourceText" .awardSourceText }}
              {{ end }}
           {{ end }}
           {{ end }}         
           {{ $awardDescription:= $.Scratch.Get "awardDescription" }}   
<div class="slds-welcome-mat slds-m-bottom_large slds-m-top_large">
  <section class="slds-card slds-p-around_medium slds-m-bottom_large">
      <h1 class="slds-text-heading_large slds-m-bottom_xx-small"><b>{{ $.Scratch.Get "awardTitle" }}</b></h1> 
      <p class="slds-m-bottom_xx-small"> {{ $awardDescription | base64Decode}}</p>  
      <p class="slds-m-bottom_xx-small">Continue reading at <a target="_blank" href='{{ $.Scratch.Get "awardSourceUrl" }}'><span>{{ $.Scratch.Get "awardSourceText" }} </span></a></p>  
  </section>

  <h2 class="slds-text-heading_medium slds-m-bottom_x-small slds-text-align_center"><b>{{ $.Scratch.Get "awardTabTitle" }}</b></h2> 


<ul class="slds-size_1-of-1 list-card">   
{{ $posts := where (where $.Site.RegularPages "Params.recognition_group_url" "=" .Params.award ) "Params.sub" "!=" "grouping" }} 
{{ range  $posts }}  
<li class="slds-welcome-mat__tile">
 
      <article class="slds-box">
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
                {{ if .Params.featuredimage}}<a href="#"><img src="{{ print .Params.folderPath .Params.featuredimage }}" alt=""></a>{{ else }}{{ end }}
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
                {{ if and ( .Params.recognized_profile) (ne .Params.recognized_profile "NIL")}}<h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="{{.Params.recognized_profile }}"><b>{{.Title}}</b></a></h2>{{else}}<h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="#"><b>{{.Title}}</b></a></h2>{{ end }}
                <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">{{ .Summary }}</p>
                
                <div class="slds-clearfix">
                  <div class="slds-float_right">
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                      <img src="/images/facebook.svg" class="ico-bt-sm-5" alt="">
                    </button>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                      <img src="/images/twitter.svg" class="ico-bt-sm-5" alt="">
                    </button>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                      <img src="/images/linkedin.svg" class="ico-bt-sm-5" alt="">
                    </button>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                      <img src="/images/email.svg" class="ico-bt-sm-5" alt="">
                    </button>
                  </div>
                </div>
                
                </div>
            </div>
      </article>
 
</li>
{{ end }}  
  
{{/*  <li class="slds-welcome-mat__tile">
 
  <article class="slds-box">
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
            <a href="#"><img src="images/ad-of-the-year-non-video-2021-medigy-hitmc-awards.jpg" alt=""></a>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
            <h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="#"><b>Ad of the Year (non video) - NEW</b></a></h2>
            <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">This award is given to the most creative, eye-catching, informative Health IT or Healthcare ad of 2020 (printed or digital). TV Commercials and other video-ads are not eligible for this award. Nominations should include ad results (ie: clicks</p>

            <div class="slds-clearfix">
              <div class="slds-float_right">
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/facebook.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/twitter.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/linkedin.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/email.svg" class="ico-bt-sm-5" alt="">
                </button>
              </div>
            </div>
            
            </div>
        </div>
  </article>

</li>

<li class="slds-welcome-mat__tile">
 
  <article class="slds-box">
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
            <a href="#"><img src="images/ad-of-the-year-non-video-2021-medigy-hitmc-awards.jpg" alt=""></a>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
            <h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="#"><b>Ad of the Year (non video) - NEW</b></a></h2>
            <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">This award is given to the most creative, eye-catching, informative Health IT or Healthcare ad of 2020 (printed or digital). TV Commercials and other video-ads are not eligible for this award. Nominations should include ad results (ie: clicks</p>

            <div class="slds-clearfix">
              <div class="slds-float_right">
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/facebook.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/twitter.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/linkedin.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/email.svg" class="ico-bt-sm-5" alt="">
                </button>
              </div>
            </div>
            
            </div>
        </div>
  </article>

</li>

<li class="slds-welcome-mat__tile">
 
  <article class="slds-box">
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
            <a href="#"><img src="images/ad-of-the-year-non-video-2021-medigy-hitmc-awards.jpg" alt=""></a>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
            <h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="#"><b>Ad of the Year (non video) - NEW</b></a></h2>
            <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">This award is given to the most creative, eye-catching, informative Health IT or Healthcare ad of 2020 (printed or digital). TV Commercials and other video-ads are not eligible for this award. Nominations should include ad results (ie: clicks</p>

            <div class="slds-clearfix">
              <div class="slds-float_right">
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/facebook.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/twitter.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/linkedin.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/email.svg" class="ico-bt-sm-5" alt="">
                </button>
              </div>
            </div>
            
            </div>
        </div>
  </article>

</li>

<li class="slds-welcome-mat__tile">
 
  <article class="slds-box">
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
            <a href="#"><img src="images/ad-of-the-year-non-video-2021-medigy-hitmc-awards.jpg" alt=""></a>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
            <h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="#"><b>Ad of the Year (non video) - NEW</b></a></h2>
            <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">This award is given to the most creative, eye-catching, informative Health IT or Healthcare ad of 2020 (printed or digital). TV Commercials and other video-ads are not eligible for this award. Nominations should include ad results (ie: clicks</p>

            <div class="slds-clearfix">
              <div class="slds-float_right">
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/facebook.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/twitter.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/linkedin.svg" class="ico-bt-sm-5" alt="">
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
                  <img src="images/email.svg" class="ico-bt-sm-5" alt="">
                </button>
              </div>
            </div>
            
            </div>
        </div>
  </article>

</li>  */}}

</ul>

  </div>
<!-- content ends -->

</div>
</section>
<!-- footer starts -->
{{ partial "footer" (dict  "activeMenu" "Awards" "context" $context ) }}

</body>
</html>