<!DOCTYPE html>
<html lang="en">
    {{ partial "header" }}
<body>

       
    {{ $context := . }}
    {{ partial "nav-bar" (dict  "activeMenu" "Daily Brief" "context" $context )  }}       
  
      

<!-- breadcrumbs starts -->
<section class="breadcrumbs-wrap">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">

<nav role="navigation" aria-label="Breadcrumbs" class="slds-p-vertical_x-small">
    <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
        <li class="slds-breadcrumb__item">
            <a href="index.html">Home</a>
          </li>
          <li class="slds-breadcrumb__item">
            <a href="daily-brief.html">Brief</a>
          </li>
          <li class="slds-breadcrumb__item">
            <a href="daily-brief.html">Daily</a>
          </li>
          <li class="slds-breadcrumb__item">
            <a href="daily-brief.html">Offerings</a>
          </li>
        <li class="slds-breadcrumb__item slds-p-left_x-small">
             Discovered
      </li>
    </ol>
  </nav>
 
</div>
</section>  
<!-- breadcrumbs ends -->


<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">

<!-- submenu starts -->
<div class="demo-only slds-m-top_medium slds-text-align_center" style="padding:0.5rem;background:#16325c">
  <div class="slds-button-group" role="group">
    <button class="slds-button slds-button_inverse" disabled="">Offerings:</button>
    <button class="slds-button slds-button_inverse slds-button_text-destructive">Discovered</button>
    <button class="slds-button slds-button_inverse"><a href="/brief/daily/offerings/trending/">Trending</a></button>
    <a href="/brief/daily/offerings/updated/"><button class="slds-button slds-button_inverse">Recently Updated</button></a>
    <button class="slds-button slds-button_inverse" disabled="">Resources:</button>
    <button class="slds-button slds-button_inverse">Popular</button>
    <button class="slds-button slds-button_inverse">Latest</button>
  </div>
</div>
<!-- submenu ends -->  


<!-- content starts -->
<div class="slds-welcome-mat slds-m-bottom_medium slds-m-top_medium">

  <ul class="slds-size_1-of-1 list-card">

    {{ $postCount := len (where (where (where .Site.Pages.ByDate.Reverse "Params.type"  "post" ) "Params.displayinlist" "!=" false) "Params.author" "!=" "Shahid Shah") }}
    {{ $paginator := .Paginate (where (where (where .Site.Pages.ByDate.Reverse "Params.type"  "post" ) "Params.displayinlist" "!=" false) "Params.author" "!=" "Shahid Shah") }}

    {{ range $paginator.Pages }}
        {{ .Render "li-brief-daily-discovered" }}
    {{ end }}

  </ul>

  </div>
<!-- content ends -->

<!-- paginations starts -->
<div class="git-buttons-row slds-p-top_x-small slds-p-bottom_x-small slds-m-bottom_large slds-text-align_center">
  <div class="slds-button-group" role="group">
    <div>
      <button class="slds-button slds-button_neutral slds-button_first">««</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">«</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">1</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">2</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">3</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">...</button>
    </div>     
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">224</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">»</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_last">»»</button>
    </div>
  </div>
</div>
<!-- paginations ends -->

</div>
</section>

{{ partial "footer" (dict  "activeMenu" "Daily Brief" "context" $context ) }}

</body>
</html>