<!DOCTYPE html>
<html lang="en">
  {{ partial "header" }}
  <body>
  
         
      {{ $context := . }}
      {{ partial "nav-bar" (dict  "activeMenu" "Daily Brief" "context" $context )  }}       
    
        

<!-- breadcrumbs starts -->
<section class="breadcrumbs-wrap">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">

<nav role="navigation" aria-label="Breadcrumbs" class="slds-p-vertical_x-small">
    <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
        <li class="slds-breadcrumb__item">
            <a href="index.html">Home</a>
          </li>
          <li class="slds-breadcrumb__item">
            <a href="daily-brief.html">Offering</a>
          </li>
          <li class="slds-breadcrumb__item">
            <a href="daily-brief.html">Netspective Communications LLC</a>
          </li>
          <li class="slds-breadcrumb__item">
            <a href="daily-brief.html">Solution</a>
          </li>
        <li class="slds-breadcrumb__item slds-p-left_x-small">
          Unblock Health
      </li>
    </ol>
  </nav>
 
</div>
</section>  
<!-- breadcrumbs ends -->


<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">

<!-- content-1 starts -->
<div class="slds-grid slds-wrap slds-gutters slds-p-top_large slds-p-bottom_large">
  <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">

    <div class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
        <img src="images/unblock-health-logo.png" alt="" class="slds-border_left slds-border_top slds-border_right slds-border_bottom slds-m-bottom_xx-small">
      </div>
      <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
        <h2 class="slds-text-heading_small"><b>Netspective Communications LLC</b></h2>
        <h3 class="slds-text-heading_medium"><b>Unblock Health</b></h3>
        <p>Unblock health is revolutionizing patient autonomy and healthcare consumerism</p>
        <p class="slds-text-body_small">
          <a href="#."><span class="slds-badge slds-m-top_xx-small slds-m-bottom_xx-small slds-m-left_none slds-m-right_x-small">HIMSS: Health Information Management</span></a>
          <a href="#."><span class="slds-badge slds-m-top_xx-small slds-m-bottom_xx-small slds-m-left_none slds-m-right_x-small">ManagementMeSH: Access to Information</span></a></p>
          </div>
      </div>
  </div>
  <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
    <div class="slds-grid slds-wrap slds-gutters slds-p-top_large">
      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_6-of-12"></div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_6-of-12">
          <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom slds-m-bottom_xx-small slds-p-around_small slds-text-align_center">
            <h2 class="slds-text-heading_small slds-m-bottom_xx-small "><b>Netspective Communications LLC</b></h2>
            <button class="slds-button slds-button_brand slds-text-body_medium slds-p-around_x-small">Invite them to share their experience</button>
          </div>
          </div>
        </div>
      </div>
  </div>
<!-- content-1 ends -->

<!-- git-buttons-row starts -->
<div class="git-buttons-row slds-border_bottom slds-border_top slds-p-top_x-small slds-p-bottom_x-small slds-m-bottom_large slds-text-align_center">
  <div class="slds-button-group" role="group">
    <div>
      <button class="slds-button slds-button_neutral slds-button_first">Watch</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">Used By</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">Star</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_middle">On Wishlist</button>
    </div>
    <div>
      <button class="slds-button slds-button_neutral slds-button_last">Questions Asked</button>
    </div>
  </div>
</div>
<!-- git-buttons-row ends -->

<!-- content-2 starts -->
  <div class="slds-grid slds-wrap slds-gutters slds-p-bottom_large">
    <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
      <p class="slds-m-bottom_xx-small ">Unblock Health is a suite of services that finally provides patients and care partners with a way to level the playing field and demand access to the critical information needed to make informed, engaged, and empowered decisions about their care.</p>
<p>Unblock Health, which is FHIR native and fully integratable, is strategically designed to:</p>
<ul class="slds-list_dotted slds-m-bottom_xx-small">
<li>Hold healthcare organizations accountable when they do not release medical records in a timely, HIPAA compliant manner, while carefully tracking the often intricate, multi-faceted process of interactions needed, reporting both violations and access champions in the public domain.</li>
<li>Request patient-generated health data (PGHD) from mhealth &amp; digital health tech devices and apps.</li>
<li>Request an itemized list of all the places that ones health information has been shared or sold to facilitate transparency and awareness of human data science practices.</li>
<li>Unblock health is revolutionizing patient autonomy and healthcare consumerism.</li>
</ul>
<p class="slds-m-bottom_xx-small"><a href="#.">See more</a></p>
    </div>
    <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12"><img src="images/content-image-1.png" alt=""></div>
      </div>
<!-- content-2 ends -->

<!-- content-3 starts -->
  <div class="slds-card slds-m-bottom_large">
    <ul class="slds-accordion">
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section slds-is-open">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-21" aria-expanded="true" title="Accordion summary">
                <img src="icons/utility/chevrondown.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Do you know of any alternative product for Unblock Health?</span>
              </button>
            </h2>
          </div>
          <div class="slds-accordion__content" id="referenceId-21">Unblock Health is a suite of services that finally provides patients and care partners with a way to level the playing field and demand access to the critical information needed to make informed, engaged, and empowered decisions about their care.</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-22" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Have you tried any alternative product similar to Unblock Health?</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-22">Accordion details - B</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Share why you chose Unblock Health over another offering</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-23">Accordion details - C</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Share why you migrated from an existing offering to Unblock Health</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-24">Accordion details - D</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">What do users think about Unblock Health?</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-25">Accordion details - C</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">What questions do users have about Unblock Health?</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-26">Accordion details - C</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Do you have BlueButton feature for Unblock Health?</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-27">Accordion details - C</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Where did you learn about  Unblock Health?</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-28">Accordion details - C</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">How many confirmed devices does the offering Unblock Health work on?</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-29">Accordion details - C</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Terminologies Supported</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-30">Accordion details - C</div>
        </section>
      </li>
      <li class="slds-accordion__list-item">
        <section class="slds-accordion__section">
          <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
              <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-23" aria-expanded="false" title="Accordion summary">
                <img src="icons/utility/chevronright.svg" class="ico-bt-sm-2" alt="" >
                <span class="slds-accordion__summary-content">Quantitative evaluation</span>
              </button>
            </h2>
          </div>
          <div hidden="" class="slds-accordion__content" id="referenceId-31">Accordion details - C</div>
        </section>
      </li>
    </ul>
  </div>
<!-- content-3 ends -->

</div>
</section>

{{ partial "footer" (dict  "activeMenu" "Daily Brief" "context" $context ) }}

</body>
</html>