<!DOCTYPE html>
<html lang="en">
    {{ partial "head" . }}
<body>

       
    {{ $context := . }}
    {{ partial "navbar" (dict  "activeMenu" "Daily Brief" "mastHead" "Daily Brief" "context" $context )  }}       
  
      

    {{ partial "bread-crumb" . }}


<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">

<!-- submenu starts -->
<div class="demo-only slds-m-top_medium slds-text-align_center" style="padding:0.5rem;background:#16325c">
  <div class="slds-button-group" role="group">
    <button class="slds-button slds-button_inverse" disabled="">Offerings:</button>
    <button class="slds-button slds-button_inverse"><a href ="/brief/daily/offerings/discovered/">Discovered</a></button>
    <button class="slds-button slds-button_inverse"><a href="/brief/daily/offerings/trending/">Trending</a></button>
    <button class="slds-button slds-button_inverse  slds-button_text-destructive"><a href="/brief/daily/offerings/updated/">Recently Updated</a></button>
    <button class="slds-button slds-button_inverse" disabled="">Resources:</button>
    <button class="slds-button slds-button_inverse"><a href="/brief/daily/resources/popular">Popular</a></button>
    <button class="slds-button slds-button_inverse"><a href="/brief/daily/resources/latest">Latest</a></button>
  </div>
</div>
<!-- submenu ends -->  


<!-- content starts -->
<div class="slds-welcome-mat slds-m-bottom_medium slds-m-top_medium">

  <ul class="slds-size_1-of-1 list-card">

    {{ $postCount := len (where (where (where .Site.Pages "Params.type"  "post"  ) "Params.displayinlist" "!=" false) "Params.author" "!=" "Shahid Shah") }}
    {{ $pages := (where (where (where .Site.Pages "Params.type"  "post" ) "Params.displayinlist" "!=" false) "Params.author" "!=" "Shahid Shah") }}
    {{ $sorted := sort $pages "Params.updatedon" "desc" }}                                             
    {{ $paginator := .Paginate $sorted  }}
    {{ range (sort $paginator.Pages ".Params.updatedon" "desc") }}
        {{ .Render "li-brief-daily-updated" }}
    {{ end }}

  </ul>

  </div>
<!-- content ends -->

<!-- paginations starts -->
<div class="git-buttons-row slds-p-top_x-small slds-p-bottom_x-small slds-m-bottom_large slds-text-align_center"><span class="slds-m-right_small slds-m-left_small">{{ $postCount }} items</span>
  {{  partial "pagination" . }}
</div>
<!-- paginations ends -->

</div>
</section>

{{ partial "footer" (dict  "activeMenu" "Daily Brief" "context" $context ) }}
{{ partial "script-upvote.html" . }}
</body>
</html>