<li class="slds-welcome-mat__tile">
 
  <article class="slds-box">
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
          {{ if isset .Params "featuredimage" }}
            <a href="{{ .Permalink }}"><img src="{{.Params.featuredimage }}" alt="{{ .Params.alt }}" onerror="this.onerror=null; this.src='/images/offering-img-1.png'" ></a>
          {{ else }}
          <a href="{{ .Permalink }}"><img src="/images/offering-img-1.png" alt="{{ .Params.alt }}"></a>
          {{ end }}
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
            <h2 class="slds-text-heading_medium"><a href="{{ .Permalink }}"><b>{{ .Title }}</b></a></h2>
            <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">{{ .Summary | safeHTML | truncate 200 }}</p>
                <!-- upvote, git-group, social > starts -->
                <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_small">
                  <div class="slds-col slds-size_1-of-1 slds-small-size_4-of-12 slds-medium-size_4-of-12 slds-large-size_4-of-12">
                    <div class="slds-float_left slds-m-right_x-small slds-m-bottom_xx-small" style="position: relative;">
                      <button class="slds-button slds-button_icon slds-button_icon-border-filled tooltip-info-link" aria-pressed="false" title="">
                        <img src="/icons/utility/arrowup.svg" class="ico-bt-sm-4 slds-m-left_x-small" alt="">
                      </button>
                      {{ $toolTipContent := (`Vote`| safeHTML) }}
                      {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                    
                    </div>
                  </div>
                  <div class="slds-col slds-size_1-of-1 slds-small-size_4-of-12 slds-medium-size_4-of-12 slds-large-size_4-of-12 slds-text-align_left">
           
                  </div>
                  <div class="slds-col slds-size_1-of-1 slds-small-size_4-of-12 slds-medium-size_4-of-12 slds-large-size_4-of-12">
                    <div class="slds-float_right">
                      <span style="position: relative;">
                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small tooltip-info-link" aria-pressed="false" title="">
                          <img src="/images/facebook.svg" class="ico-bt-sm-5" alt="">
                        </button>
                        {{ $toolTipContent := (`Facebook Share`| safeHTML) }}
                        {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                      </span>
                      <span style="position: relative;">
                      <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small tooltip-info-link" aria-pressed="false" title="">
                        <img src="/images/twitter.svg" class="ico-bt-sm-5" alt="">
                      </button>
                      {{ $toolTipContent := (`Twitter Share`| safeHTML) }}
                      {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                    </span>
                      <span style="position: relative;">
                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small tooltip-info-link" aria-pressed="false" title="">
                          <img src="/images/linkedin.svg" class="ico-bt-sm-5" alt="">
                        </button>
                        {{ $toolTipContent := (`Linkedin Share`| safeHTML) }}
                        {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                        </span>
                      <span style="position: relative;">
                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small tooltip-info-link" aria-pressed="false" title="">
                          <img src="/images/email.svg" class="ico-bt-sm-5" alt="">
                        </button>
                        {{ $toolTipContent := (`Email Share`| safeHTML) }}
                        {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                        </span>
                    </div>            
                  </div>
                </div>
                <!-- upvote, git-group, social > ends -->


            
            <p class="slds-text-body_small">Posted {{ .Date.Format "Jan 2, 2006" }}: 
              {{ range $key, $value := .Params.categories }}
              {{if ne $value "null"}}
              {{ $valueLink := $value | urlize }}
              {{ $textValue := replace $value "-hash-" " #"  }}
              {{ $valueLink := replace $valueLink  "#" "hash-"  }}
        
               <a  href="/topic/{{ $valueLink }}" ><span class="slds-badge slds-m-bottom_xx-small">{{  $textValue }}</span></a>
               {{end}}
               {{ end }}
              
              </p>
              {{ if and (isset .Params "updatedon" ) (ne .Params.updatedOn "null") (ne .Params.updatedOn "undefined")}}
              {{ $timeUpdated :=substr .Params.updatedOn 0 10 }}
              {{ $time := time (int $timeUpdated) }}
              {{ $lastUpdatedDate :=  dateFormat "Jan 2, 2006" $time }}    
               
               {{ end }}
              </div>
        </div>
  </article>

</li>