<!DOCTYPE html>
<html lang="en">
{{ partialCached "head" . "about-us-key" }}
<body>
  {{ $context := . }}
  {{ partialCached "navbar" (dict  "mastHead" "About Us" "context" $context )  "about-us-key" }}       
  {{ partialCached "bread-crumb" . "about-us-key" }}

  <section>
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small content-inner-section slds-text-heading_small semi-light">

<!-- content starts -->
{{ replace .Content "{{ $.Site.Params.brand }}"  $.Site.Params.brand | safeHTML}}
<!-- content ends -->

</div>
</section>

<!-- footer starts -->

{{ partialCached "footer" (dict  "activeMenu" "Communities" "context" $context ) }}

</body>
</html>