<li class="slds-welcome-mat__tile {{ .Params.offeringtype }}">
    <article class="slds-box">
      <div class="slds-grid slds-wrap slds-gutters">
          <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
            {{ if isset .Params "featuredimage" }}
                {{ if ne .Params.featuredimage "Nil" }}
                <a href="{{ .Permalink }}"><img src="{{.Params.featuredimage }}" alt="{{ .Params.title }}"  onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></a>
                {{ else }}
                <a href="{{ .Permalink }}"><img src="/img/featured/default.png" alt="{{ .Params.title }}" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></a>
                {{ end }}
            {{ else }}
            <a href="{{ .Permalink }}"><img src="/img/featured/default.png" alt="{{ .Params.title }}"  onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></a>
            {{ end }}
          </div>
          <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
              <h2 class="slds-text-heading_medium"><a href="{{ .Permalink }}"><b>{{ .Title }}</b></a></h2>
              <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small"><a href="{{ .Permalink }}">{{ .Summary | safeHTML | truncate 200 }}</a></p>
              <div class="slds-clearfix">
                <div class="slds-float_left">
                  <span style="position: relative;">
                  {{ partial "upvote.html" . }}
                  {{ $toolTipContent := (`Vote`| safeHTML) }}
                  {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                </span>
                </div>
                <div class="slds-float_right">
                  <span style="position: relative;">
                    {{ $permaLink := .Permalink | safeURL}}
                    {{ $safeUrl := $.Site.Params.siteUrl }}
                    {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
                    {{ $class := "fb-share-push fb-share" }}
                    {{ $dataApp := .Params.id }}
                    {{ $dataSlug := .Permalink }}
                    {{ $dataName := .Title }}
                    {{ $icon := "/images/facebook.svg" }}
                    {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}
        
                    {{ $toolTipContent := (`Facebook Share`| safeHTML) }}
                    {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                  </span>
                  <span style="position: relative;">
                  {{ $permaLink := .Permalink | safeURL}}
                  {{ $safeUrl := $.Site.Params.siteUrl }}
                  {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
                  {{ $class := "twitter-share-push fb-share" }}
                  {{ $dataApp := .Params.id }}
                  {{ $dataSlug := .Permalink }}
                  {{ $dataName := .Title }}
                  {{ $icon := "/images/twitter.svg" }}
                  {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}
                  {{ $toolTipContent := (`Twitter Share`| safeHTML) }}
                  {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                </span>
                  <span style="position: relative;">
                    {{ $permaLink := .Permalink | safeURL}}
                    {{ $safeUrl := $.Site.Params.siteUrl }}
                    {{ $href := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
                    {{ $class := "linkedin-share-push fb-share" }}
                    {{ $dataApp := .Params.id }}
                    {{ $dataSlug := .Permalink }}
                    {{ $dataName := .Title }}
                    {{ $icon := "/images/linkedin.svg" }}
                    {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}
                    {{ $toolTipContent := (`Linkedin Share`| safeHTML) }}
                    {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                    </span>
                  <span style="position: relative;">
                    {{ $icon := "/images/email.svg" }}
                    {{$permaLink := .Permalink | safeURL}}
                    {{ $safeUrl := $.Site.Params.siteUrl }}
                    {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
                    {{ $class := "email-share-push"}}
                    {{ $dataApp := .Params.id }}
                    {{ $dataSlug := .Permalink }}
                    {{ $dataName := .Title }}
                    {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}
                    {{ $toolTipContent := (`Email Share`| safeHTML) }}
                    {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
                    </span>
                </div>
              </div>
              <p class="slds-text-body_small">Posted <time
                datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time> : 
                {{ range $key, $value := .Params.categories }}
                {{if ne $value "null"}}
                {{ $valueLink := $value | urlize }}
                {{ $textValue := replace $value "-hash-" " #"  }}
                {{ $valueLink := replace $valueLink  "#" "hash-"  }}
                 <span class="slds-badge slds-m-bottom_xx-small"><a href="/topic/{{ $valueLink }}">{{  $textValue }}</a></span> 
                {{ end }}
                {{ end }}
            </p>
            {{ if and (isset .Params "updatedon" ) (ne .Params.updatedOn "null") (ne .Params.updatedOn "undefined")}}
            {{ $timeUpdated :=substr .Params.updatedOn 0 10 }}
            {{ $time := time (int $timeUpdated) }}
            {{ $lastUpdatedDate :=  dateFormat "Jan 2, 2006" $time }}
              <p class="slds-text-body_small slds-m-top_xx-small slds-m-bottom_xx-small">Last Updated <time datetime="{{ $lastUpdatedDate }}">{{ $lastUpdatedDate }}</time></p>
            {{ end }}
              </div>
          </div>
    </article>
  </li>
    