<!DOCTYPE html>
<html lang="en">
    {{ partial "head" . }}
<body>

       
    {{ $context := . }}
    {{ partial "navbar" (dict  "activeMenu" "News" "mastHead" "News" "context" $context )  }}       
  
      

    {{ partial "bread-crumb" .}}


<section class="">
<div class="slds-container_large slds-container_center slds-p-left_small slds-p-right_small">

<!-- content-1 starts -->

  <div class="slds-grid slds-wrap slds-gutters slds-p-bottom_large">
    {{ if .Params.featuredimage.href  }}
     <div class="slds-col slds-size_1-of-1 slds-text-align_center slds-m-top_small"><img src="{{ print .Params.basePath .Params.featuredimage.href }}" alt="{{ .Params.title }}" class="post-figure" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></div>
    {{ else }}
     <div class="slds-col slds-size_1-of-1 slds-text-align_center slds-m-top_small"><img src="/images/offering-img-1.png" alt="{{ .Params.title }}" class="post-figure" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></div>
    {{ end }}
     <div class="slds-col slds-size_1-of-1 slds-m-top_small">
        <div class="news-content-overlap content-inner-section">
        <p class="slds-m-bottom_xx-small">{{ .Params.title }}</p>
       <p class="slds-m-bottom_xx-small">{{ .Content }} </p>        
      <hr>

      <div class="slds-clearfix">
        <div class="slds-float_left">
          <p class="slds-text-body_small">
            {{ if (.Params.categories) }}
            {{ range .Params.categories }}
              {{ $textValue := replace . "-hash-" " #"  }}
              {{ $valueLink := . | urlize }}
              {{ $valueLink := replace $valueLink  "#" "hash-"  }}
               <a href="/topic/{{  $valueLink }}"><span class="slds-badge slds-m-top_xx-small slds-m-bottom_xx-small slds-m-left_none slds-m-right_x-small">{{ $textValue }}</span></a>
            {{ end }}
            {{ end }}
         </p>
        </div>
        
        <div class="slds-float_right">
        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
        <img src="/images/facebook.svg" class="ico-bt-sm-5" alt="">
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
        <img src="/images/twitter.svg" class="ico-bt-sm-5" alt="">
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
        <img src="/images/linkedin.svg" class="ico-bt-sm-5" alt="">
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-bottom_xx-small" aria-pressed="false" title="">
          <img src="/images/email.svg" class="ico-bt-sm-5" alt="">
        </button>
        </div>
      </div>

  {{ $related := .Site.RegularPages.Related . | first 5 }}
   {{ with $related }}
    <h2 class="slds-text-heading_small slds-m-bottom_xx-small slds-m-top_small"><b>See Also</b></h2>        
    <ul class="slds-list_dotted slds-m-bottom_xx-small">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>                                                                               
      {{ end }}
    </ul>
   {{ end }}
    </div>
    </div>
    </div>
<!-- content-1 ends -->

<!-- next article starts -->
<div class="slds-welcome-mat slds-m-bottom_large slds-m-top_small">
    {{ with .PrevInSection }}
    <div class="slds-m-bottom_x-small">
        <h2 class="slds-text-heading_small slds-text-align_center"><b>Next Article</b></h2>
    </div>
    {{ .Render "li-news" }}    
    {{ end }}
</div>
<!-- next article ends -->

</div>
</section>



<!-- footer starts -->

{{ partial "footer" (dict  "activeMenu" "News" "context" $context ) }}

</body>
</html>