<!DOCTYPE html>
<html lang="en">
  {{ partialCached "head.html" .  .Title }}
<body>

       
    {{ $context := . }}
    {{ partialCached "navbar" (dict  "activeMenu" "News" "mastHead" "News" "context" $context )  .Title }}       
  
      

    {{ partialCached "bread-crumb" . .Title }}


<section class="">
<div class="slds-container_large slds-container_center slds-p-left_small slds-p-right_small">

<!-- content-1 starts -->

  <div class="slds-grid slds-wrap slds-gutters slds-p-bottom_large">
    {{ if .Params.featuredimage.href  }}
     <div class="slds-col slds-size_1-of-1 slds-text-align_center slds-m-top_small"><img src="{{ print .Params.basePath .Params.featuredimage.href }}" alt="{{ .Params.title }}" width="1000" height="400" class="post-figure" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></div>
    {{ else }}
     <div class="slds-col slds-size_1-of-1 slds-text-align_center slds-m-top_small"><img src="/images/offering-img-1.png" alt="{{ .Params.title }}" class="post-figure" width="1000" height="400" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></div>
    {{ end }}
     <div class="slds-col slds-size_1-of-1 slds-m-top_small">
        <div class="news-content-overlap content-inner-section">
        <h2 class="slds-text-heading_medium slds-m-top_x-small"><b>{{ .Params.title }}</b></h2>
        <p class="slds-text-body_small slds-m-top_x-small">Posted {{ .Date.Format "Jan 2, 2006" }} via <span><a  itemprop = "url" target = "_blank" href="{{ .Params.link.href }}"><span itemprop = "author">{{ .Params.link.brand }}</span></a></span></p>
       <p class="slds-m-bottom_xx-small">{{ .Content }} </p>        
      <hr>

      <div class="slds-clearfix">
        <div class="slds-float_left"> 
          {{ if eq .Params.datasource "dropmark"}}
           <p class="slds-text-body_small slds-m-top_x-small"> Continue reading at <span><a  itemprop = "url" target = "_blank" href="{{ .Params.link.href }}"><span itemprop = "author">{{ .Params.link.brand }}</span></a></span></p>         
          {{ end }}
          <p class="slds-text-body_small">             
            {{ if (.Params.categories) }}
            {{ range .Params.categories }}
              {{ $textValue := replace . "-hash-" " #"  }}
              {{ $valueLink := . | urlize }}
              {{ $valueLink := replace $valueLink  "#" "hash-"  }}
               <a href="/topic/{{  $valueLink }}"><span class="slds-badge slds-m-top_xx-small slds-m-bottom_xx-small slds-m-left_none slds-m-right_x-small">{{ $textValue }}</span></a>
            {{ end }}
            {{ end }}
         </p>
        </div>
        
        <div class="slds-float_right">
          <span style="position: relative;">
            {{ $permaLink := .Permalink | safeURL}}
            {{ $safeUrl := $.Site.Params.siteUrl }}
            {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
            {{ $class := "fb-share-push fb-share" }}
            {{ $dataApp := .Params.id }}
            {{ $dataSlug := .Permalink }}
            {{ $dataName := .Title }}
            {{ $icon := "/images/facebook.svg" }}
            {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}

            {{ $toolTipContent := (`Facebook Share`| safeHTML) }}
            {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
          </span>
          <span style="position: relative;">
          {{ $permaLink := .Permalink | safeURL}}
          {{ $safeUrl := $.Site.Params.siteUrl }}
          {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
          {{ $class := "twitter-share-push fb-share" }}
          {{ $dataApp := .Params.id }}
          {{ $dataSlug := .Permalink }}
          {{ $dataName := .Title }}
          {{ $icon := "/images/twitter.svg" }}
          {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}
          {{ $toolTipContent := (`Twitter Share`| safeHTML) }}
          {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
        </span>
          <span style="position: relative;">
            {{ $permaLink := .Permalink | safeURL}}
            {{ $safeUrl := $.Site.Params.siteUrl }}
            {{ $href := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
            {{ $class := "linkedin-share-push fb-share" }}
            {{ $dataApp := .Params.id }}
            {{ $dataSlug := .Permalink }}
            {{ $dataName := .Title }}
            {{ $icon := "/images/linkedin.svg" }}
            {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}
            {{ $toolTipContent := (`Linkedin Share`| safeHTML) }}
            {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
            </span>
          <span style="position: relative;">
            {{ $icon := "/images/email.svg" }}
            {{$permaLink := .Permalink | safeURL}}
            {{ $safeUrl := $.Site.Params.siteUrl }}
            {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
            {{ $class := "email-share-push"}}
            {{ $dataApp := .Params.id }}
            {{ $dataSlug := .Permalink }}
            {{ $dataName := .Title }}
            {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon }}
            {{ $toolTipContent := (`Email Share`| safeHTML) }}
            {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
            </span>
        </div>
      </div>

  {{ $related := .Site.RegularPages.Related . | first 5 }}
   {{ with $related }}
    <h2 class="slds-text-heading_small slds-m-bottom_xx-small slds-m-top_small"><b>See Also</b></h2>        
    <ul class="slds-list_dotted slds-m-bottom_xx-small">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>                                                                               
      {{ end }}
    </ul>
   {{ end }}
    </div>
    </div>
    </div>
<!-- content-1 ends -->

<!-- next article starts -->
<div class="slds-welcome-mat slds-m-bottom_large slds-m-top_small">
    {{ with .PrevInSection }}
    <div class="slds-m-bottom_x-small">
        <h2 class="slds-text-heading_small slds-text-align_center"><b>Next Article</b></h2>
    </div>
    {{ .Render "li-news" }}    
    {{ end }}
</div>
<!-- next article ends -->

</div>
</section>



<!-- footer starts -->

{{ partialCached "footer" (dict  "activeMenu" "News" "context" $context ) }}

</body>
</html>