<!DOCTYPE html>
<html lang="en">
    {{ partial "head" . }}
<body>

       
    {{ $context := . }}
    {{ partial "navbar" (dict  "activeMenu" "News" "mastHead" "News" "context" $context )  }}        
  
      

    {{ partial "bread-crumb" . }}


<section class="">
<div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
  <div class="slds-welcome-mat slds-m-bottom_large slds-m-top_large">

    <div class="slds-clearfix slds-m-bottom_x-small">
      <div class="slds-float_right">
        <p><button class="slds-button slds-button_outline-brand"><span class="slds-icon_container">
          <svg class="slds-icon slds-icon-text-default slds-icon_xx-small slds-m-right_xx-small blue-icon-color" aria-hidden="true">
          <use xlink:href="/icons/utility-sprite/svg/symbols.svg#add"></use>
          </svg>
          </span> Add News</button></p>
      </div>
    </div>
         {{ $newsWithArchetypePages :=   (where .Site.RegularPages "Params.archetype" "in" (slice "news" "external-bookmark-news")) | union ( where .Site.RegularPages "Section" "in" (slice "news" )) }}
         {{/* $newsWithArchetypePages :=    (where .Site.RegularPages "Params.archetype" "=" "news") | union (where .Site.RegularPages "Params.archetype" "=" "external-bookmark-news") */}}

         {{/* $newsWithArchetypePages :=   (where .Site.Pages.ByDate.Reverse "Params.archetype" "in" (slice  "news" "external-bookmark-news" )) */}}
         {{ $postCount := len $newsWithArchetypePages }} 
        {{ $paginator := .Paginate ($newsWithArchetypePages.ByDate.Reverse) }} 
                        {{ range $paginator.Pages}}
                         {{ .Render "li-news" }}
                        {{ end }}  

  </div>
<!-- paginations starts -->
<div class="git-buttons-row slds-p-top_x-small slds-p-bottom_x-small slds-m-bottom_large slds-text-align_center"><span class="slds-m-right_small slds-m-left_small">{{ $postCount }} items</span>
  {{  partial "pagination" . }}
  </div>
  <!-- paginations ends -->

</div>
</section>

<!-- footer starts -->

{{ partial "footer" (dict  "activeMenu" "News" "context" $context ) }}

</body>
</html>