{{ with $.Site.Data.awards_landing }}
{{ range .awardDetails}}
{{ $.Scratch.Set "awardUrl" .awardUrl }}
<li class="slds-welcome-mat__tile">

    <article class="slds-box">
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
                <a href="{{ .awardUrl }}"><img src="{{ .awardUrl }}{{ .awardFeaturedImage }}" class="product-thumb" alt="medigy-awards"></a>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
                <h2 class="slds-text-heading_medium slds-m-top_xx-small"><a href="{{ .awardUrl }}"><b>{{ .awardTitle }}</b></a></h2>
                <p class="slds-text-body_medium slds-m-top_xx-small slds-m-bottom_xx-small">{{ .awardDescription | base64Decode }}</p>
                
                
                <div class="slds-clearfix">
                <div class="slds-float_right">
                    <span style="position: relative;">
                        {{ $permaLink := .Permalink | safeURL}}
                        {{ $safeUrl := $.Site.Params.siteUrl }}
                        {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
                        {{ $class := "fb-share-push fb-share" }}
                        {{ $dataApp := .Params.id }}
                        {{ $dataSlug := .Permalink }}
                        {{ $dataName := .Title }}
                        {{ $icon := "/images/facebook.svg" }}
                        {{ partial "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon)}}

                        {{ $toolTipContent := (`Facebook Share`| safeHTML) }}
                        {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                      </span>
                      <span style="position: relative;">
                      {{ $permaLink := .Permalink | safeURL}}
                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
                      {{ $class := "twitter-share-push fb-share" }}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ $icon := "/images/twitter.svg" }}
                      {{ partial "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) }}
                      {{ $toolTipContent := (`Twitter Share`| safeHTML) }}
                      {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                    </span>
                      <span style="position: relative;">
                        {{ $permaLink := .Permalink | safeURL}}
                        {{ $safeUrl := $.Site.Params.siteUrl }}
                        {{ $href := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
                        {{ $class := "linkedin-share-push fb-share" }}
                        {{ $dataApp := .Params.id }}
                        {{ $dataSlug := .Permalink }}
                        {{ $dataName := .Title }}
                        {{ $icon := "/images/linkedin.svg" }}
                        {{ partial "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) }}
                        {{ $toolTipContent := (`Linkedin Share`| safeHTML) }}
                        {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                        </span>
                      <span style="position: relative;">
                        {{ $icon := "/images/email.svg" }}
                        {{$permaLink := .Permalink | safeURL}}
                        {{ $safeUrl := $.Site.Params.siteUrl }}
                        {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
                        {{ $class := "email-share-push"}}
                        {{ $dataApp := .Params.id }}
                        {{ $dataSlug := .Permalink }}
                        {{ $dataName := .Title }}
                        {{ partial "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) }}
                        {{ $toolTipContent := (`Email Share`| safeHTML) }}
                        {{ partial "tool-tip" (dict  "toolTipContent" $toolTipContent ) }}
                        </span>
                </div>
                </div>
                
                </div>
            </div>
    </article>

</li>
{{ end }}
{{ end }}