  <li class="slds-welcome-mat__tile">

    <article class="slds-box">
    <div class="slds-grid slds-wrap slds-gutters">
      {{ if .Params.featuredimg}}
      <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
        {{ if ne .Params.featuredimg "Nil" }}
          <a href="{{ .Permalink }}"><img src="{{ print "/profile/regulated/institution/us-dhhs-cms/hospital/" .Params.featuredimg }}" alt="{{ .Params.title }}" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></a>
        {{ else }}
        <a href="{{ .Permalink }}"><img src="" alt="{{ .Params.title }}" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></a>
        {{ end }}
        </div>
    {{ else }}
    <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
        <a href="{{ .Permalink }}"><img src="/images/offering-img-1.png" alt="" onerror="this.onerror=null; this.src='/images/offering-img-1.png'"></a>
    </div>
    {{ end }}
    <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
    <h2 class="slds-text-heading_medium"><a href="{{ .Permalink }}"><b>{{ .Params.title }}</b></a></h2>
    <p class="slds-text-body_medium slds-m-top_xx-small">
    <span class="slds-avatar slds-avatar_circle">
      <a title="Rating courtesy of Medicare.gov | Hospital Compare" href="https://www.medicare.gov/hospitalcompare/profile.html#profTab=0&ID={{ $.Scratch.Get "facilityId" }}" target="_blank"><img alt="Rating" src="/images/hospital_compare.jpg" width="28"></a>
    </span> Rating: 
    {{ if ne .Params.usDhhsCmsHospitalCompareModel.hospitalOverallRating "Not Available" }}
    {{ $rating := int .Params.usDhhsCmsHospitalCompareModel.hospitalOverallRating }}
    {{ $totalStar := 5}}
    {{ partialCached  "star-rating.html" (dict  "rating"  $rating  "totalStar" $totalStar) .Params.facilityId }}
    {{ else }}
    {{ .Params.usDhhsCmsHospitalCompareModel.hospitalOverallRating }}
    {{ end }}
    </p>
    <p class="slds-text-body_medium slds-m-bottom_xx-small"><span class="slds-icon_container">
        <svg class="slds-icon slds-icon-text-default slds-icon_xx-small" aria-hidden="true">
        <use xlink:href="/icons/utility-sprite/svg/symbols.svg#checkin"></use>
        </svg>
    </span>
      {{ if (ne .Params.usDhhsCmsHospitalCompareModel.address "Nil") }}{{ .Params.usDhhsCmsHospitalCompareModel.address }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.city "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.city}}{{ end }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.countyName "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.countyName}}{{ end }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.state.name "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.state.name}}{{ end }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.zipCode "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.zipCode}}{{ end }}{{ end }}</p>
    
    {{ range .Params.hdotypes }}
    {{ $link := (replace (. | lower) " " "-") }}
    <p class="slds-badge slds-m-bottom_xx-small"><a title="HDO Type" href="/hdotypes/{{ $link }}">{{.}}</a></p>
  {{ end }} 
    <div class="slds-clearfix">
    
    
      <div class="slds-float_right">
        <span style="position: relative;">
          {{ $permaLink := .Permalink | safeURL}}
          {{ $safeUrl := $.Site.Params.siteUrl }}
          {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
          {{ $class := "fb-share-push fb-share" }}
          {{ $dataApp := .Params.id }}
          {{ $dataSlug := .Permalink }}
          {{ $dataName := .Title }}
          {{ $icon := "/images/facebook.svg" }}
          {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}

          {{ $toolTipContent := (`Facebook Share`| safeHTML) }}
          {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
        </span>
        <span style="position: relative;">
        {{ $permaLink := .Permalink | safeURL}}
        {{ $safeUrl := $.Site.Params.siteUrl }}
        {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
        {{ $class := "twitter-share-push fb-share" }}
        {{ $dataApp := .Params.id }}
        {{ $dataSlug := .Permalink }}
        {{ $dataName := .Title }}
        {{ $icon := "/images/twitter.svg" }}
        {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}
        {{ $toolTipContent := (`Twitter Share`| safeHTML) }}
        {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
      </span>
        <span style="position: relative;">
          {{ $permaLink := .Permalink | safeURL}}
          {{ $safeUrl := $.Site.Params.siteUrl }}
          {{ $href := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
          {{ $class := "linkedin-share-push fb-share" }}
          {{ $dataApp := .Params.id }}
          {{ $dataSlug := .Permalink }}
          {{ $dataName := .Title }}
          {{ $icon := "/images/linkedin.svg" }}
          {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}
          {{ $toolTipContent := (`Linkedin Share`| safeHTML) }}
          {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
          </span>
        <span style="position: relative;">
          {{ $icon := "/images/email.svg" }}
          {{$permaLink := .Permalink | safeURL}}
          {{ $safeUrl := $.Site.Params.siteUrl }}
          {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
          {{ $class := "email-share-push"}}
          {{ $dataApp := .Params.id }}
          {{ $dataSlug := .Permalink }}
          {{ $dataName := .Title }}
          {{ partialCached "social-share.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon) $dataApp $icon $dataName }}
          {{ $toolTipContent := (`Email Share`| safeHTML) }}
          {{ partialCached "tool-tip" (dict  "toolTipContent" $toolTipContent ) $toolTipContent }}
          </span>
      </div>
    </div>
    
    </div>
    </div>
    </article>
    
    </li>
  