
      <span class="slds-m-right_x-small">
        <img class="" src="https://badgen.infra.medigy.com/https/badge.medigy.com/service/badgen/{{ .badgeQueryType }}/offering/{{ .productId }}?color=grey&scale=1.2&cache=60&v={{ (time "2016-05-28T10:30:00.00+10:00").Unix }}"  alt="Watch" data-toggle="tooltip" data-html="true" data-placement="auto top" title="" data-original-title="Watch">
        <!-- <button class="slds-button slds-button_neutral slds-button_first">Watch</button> -->
      </span>     
      <!-- <div>
        <button class="slds-button slds-button_neutral slds-button_middle">Used By</button>
      </div>
      <div>
        <button class="slds-button slds-button_neutral slds-button_middle">Star</button>
      </div>
      <div>
        <button class="slds-button slds-button_neutral slds-button_middle">On Wishlist</button>
      </div>
      <div>
        <button class="slds-button slds-button_neutral slds-button_last">Questions Asked</button>
      </div> -->
   