  <div class="slds-float_right">
  <span class="ccm-join-btn-1 special-text">
	<div class="demo-only spinner-left join-loader" style="display: none;">
		<div class="slds-spinner_container">
		  <div role="status" class="slds-spinner slds-spinner_x-small">
			<span class="slds-assistive-text">Loading</span>
			<div class="slds-spinner__dot-a"></div>
			<div class="slds-spinner__dot-b"></div>
		  </div>
		</div>
	  </div>
	<img src ="https://badgen.net/badge/{{ .iconName }}" alt="{{ .iconName }}" width="251" height="30" class="{{ .badgenClass }}" id="{{ .badgenId }}"
		onclick="dataLayer.push({'event': 'femtechbuttonclick', 'gtmPersonid':getCookie('userEmail')})">		
	<span class="special-text__tooltip join-content-box">
		<!-- <div id="tooltip_join_text">Become a member to –</div>
		<ul class="mb-0">
			<li> Receive hand-curated articles and actionable insights</li>
			<li> Stay up-to-date with the latest community information</li>
			<li> Find top digital health solutions to deliver and sustain a new level of care</li>
		</ul> -->
	</span>
</span>
</div>
